@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}

h1 {
  font-size: 2rem;
  color: #FFF;
}

p {
  font-size: 1.5rem;
  color: #959EAC;
}
p span {
  color: #FB7413;
}

p::selection, span::selection {
  background: #FB7413;
  color: #FFF;
}

h2 {
  font-size: 2.4rem;
  color: #FFF;
}

h1::selection, h2::selection {
  background: #FB7413;
}

button {
  font-size: 1.8rem;
  font-weight: 700;
  background: #FB7413;
  color: #FFF;
}

button, .rating {
  cursor: pointer;
}

.ellipse {
  font-size: 1.6rem;
  background: #252C36;
  color: #959EAC;
}

@media (max-width: 768px) {
  :root {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  :root {
    font-size: 12px;
  }
}
body {
  position: relative;
  top: 0;
  left: 0;
  background: #121417;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container {
  background: #202731;
  border-radius: 10px;
}
body .container.exitContainer {
  animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}
body .container.entraceContainer {
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
body .container.toggleContainerElements .component-rating {
  display: none;
}
body .container.toggleContainerElements .component-thanks {
  display: flex;
}
body .container .component-rating {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .container .component-rating .ellipse {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .component-rating .ellipse img {
  animation: starRotate 10s linear infinite;
}
body .container .component-rating .ratings {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
body .container .component-rating .ratings .rating {
  user-select: none;
  transition: 0.3s;
}
body .container .component-rating .ratings .rating:checked {
  background: #d33;
}
body .container .component-rating .ratings .rating:nth-child(1n):not(.rankChoice):hover {
  background: #959EAC;
  color: #FFF;
}
body .container .component-rating .ratings .rankChoice {
  background: #FB7413;
  color: #FFF;
}
body .container .component-rating button {
  width: 100%;
  padding: 10px 0;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  transition: 0.6s;
  user-select: none;
}
body .container .component-rating button:enabled:hover {
  cursor: pointer;
  animation: buttonExpanded 0.6s both;
  background: #FFF;
  color: #FB7413;
}
body .container .component-rating button:disabled {
  background: #121417;
  color: #202731;
  cursor: no-drop;
}
body .container .component-thanks {
  height: 90%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .container .component-thanks .box-ellipse {
  background: #252C36;
  border-radius: 2rem;
  padding: 12px;
}
body .container .component-thanks p {
  text-align: center;
}
body .blocker {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  body .container {
    width: 90%;
    max-width: 360px;
    height: 360px;
    padding: 18px;
  }
  body .container .component-rating {
    justify-content: space-between;
  }
  body .container .component-rating .ellipse {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 769px) {
  body .container {
    max-width: 400px;
    height: 400px;
    padding: 20px;
  }
  body .container .component-rating {
    justify-content: space-between;
  }
  body .container .component-rating .ellipse {
    width: 55px;
    height: 55px;
  }
  body .container .component-rating .ellipse img {
    width: 50%;
  }
}
@keyframes buttonExpanded {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes starRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-20 17:2:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-elliptic-top-bck
 * ----------------------------------------
 */
@keyframes slide-out-elliptic-top-bck {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
  100% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-20 17:6:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
