@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$main-background: #121417;
$container-background: #202731;
$box-background: #252C36;
$gray: #959EAC;
$white: #FFF;
$orange: #FB7413;
$text-color-gray: $gray;
$text-color-white: $white;
$text-color-orange: $orange;

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-size: 2rem;
    color: $text-color-white;
}

p {
    font-size: 1.5rem;
    color: $text-color-gray;

    span {
        color: $text-color-orange;
    }
}

p, span {
    &::selection {
        background: $orange;
        color: $text-color-white;
    }
}

h2 {
    font-size: 2.4rem;
    color: $text-color-white;
}

h1, h2 {
    &::selection {
        background: $orange;
    }
}

button {
    font-size: 1.8rem;
    font-weight: 700;
    background: $orange;
    color: $text-color-white;
}

button, .rating {
    cursor: pointer;
}

.ellipse {
    font-size: 1.6rem;
    background: $box-background;
    color: $text-color-gray;
}

@media (max-width: 768px) {
    :root {
        font-size: 10px;
    }
}

@media (min-width: 769px) {
    :root {
        font-size: 12px;
    }
}